@mixin typography-1440-h1 {
    font-style: normal;
    font-size: 54px;
    line-height: 55px;
    font-weight: 700;
}

@mixin typography-1440-p2-regular {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@mixin typography-1440-p2-medium {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

@mixin typography-1440-p3-regular {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@mixin typography-960-p2-medium {
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}

@mixin typography-960-p3-regular {
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
