:root {
    --color-text: #0b1739;
    --color-text-secondary: rgb(11, 23, 57, 0.5);
    --color-grey-light: #f4f5f6;
    --color-bg: #ffffff;
    --color-border: #0b173933;
    --color-border-hover: #0000001a;

    --color-primary: #3eb57c;
    --color-primary-light: #95d0a1;

    //app
    --transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    --layout-padding-inline: 10px;
    --header-height: 40px;

    --icon-size: 24px;

    --layout-font-size: 14px;

    @media (min-width: 480px) {
        --layout-padding-inline: 20px;
        --header-height: 40px;
        --layout-font-size: 14px;
    }
    @media (min-width: 960px) {
        --layout-padding-inline: 54px;
        --header-height: 60px;
        --layout-font-size: 14px;
    }
    @media (min-width: 1440px) {
        --layout-padding-inline: calc(50% - 640px);
        --header-height: 80px;
        --layout-font-size: 16px;
    }
}
