@use "@/assets/styles/_mixin.scss" as *;

@import url(_variable.scss);
@import url(_reset.css);

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--color-grey-light);
}

*::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

* {
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-grey-light); /* Цвет ползунка и фон */
}

body {
    @include typography-960-p3-regular;
    font-family: "PTRootUI", system-ui, sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);

    @media (min-width: 1440px) {
        @include typography-1440-p2-regular;
    }
}

.app-container {
    width: 100%;
    padding-inline: var(--layout-padding-inline);
}

.app-page-enter-active,
.app-page-leave-active {
    transition: all 0.3s;
}
.app-page-enter-from,
.app-page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.app-icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

a {
    color: var(--color-primary);
    &:hover {
        color: var(--color-primary-hover);
    }
}

a,
button {
    cursor: pointer;
}

a:focus,
button:focus {
    outline: none;
}
a:focus-visible,
button:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
}

button:disabled {
    cursor: not-allowed;
}

.app-button {
    @include typography-960-p2-medium;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0px 24px;
    text-decoration: none;
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    transition: var(--transition);

    &:hover {
        color: var(--color-bg);
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }

    &:disabled {
        color: var(--color-text);
        background-color: transparent;
        border-color: var(--color-border);
        opacity: 0.5;
    }

    @media (min-width: 1440px) {
        @include typography-1440-p2-medium;
    }
}
